:root {
  --primary-color: #433c5e;
  --secondary-color: #b0a7c7;
  --accent-color: #ffece3;
  --box-shadow: 2px 5px 15px 0 rgba(0, 0, 0, 0.2);
  --primary-font: "Montserrat", sans-serif;
  --accent-font: "Josefin Sans", sans-serif;
  --text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--accent-font);
}

h1 {
  font-size: 96px;
  color: rgb(252, 241, 241);
  font-weight: 200;
}

h2 {
  font-size: 64px;
  font-weight: 200;
}
h3 {
  color: var(--primary-color);
}
p {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 30px;
}
form {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

a {
  color: var(--secondary-color);
}
a:hover {
  color: var(--primary-color);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-family: var(--primary-font);
}
nav .logo {
  height: 70px;
  border-radius: 50%;
}
nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 30px;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav .active {
  color: var(--secondary-color);
  font-weight: bold;
}

.illustration {
  max-width: 400px;
}
.testimonial-img {
  display: inline-block;
  width: 100%;
  height: auto;
}
.icon {
  color: var(--secondary-color);
}
.navbar-brand {
  font-family: var(--accent-font);
  font-weight: lighter;
  font-size: 25px;
}
.h2-special {
  font-size: 25px;
  font-family: var(--primary-font);
  font-weight: normal;
  color: #fff;
  padding: 15px 65px;
}

.text-shadow {
  text-shadow: var(--text-shadow);
}

.hero {
  background-color: var(--secondary-color);
  background-image: url(/images/HomePageForest.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 140px 0;
  text-align: center;
}
.hero p {
  font-family: var(--primary-font);
  font-size: 20px;
  color: var(--accent-color);
}
.bio-title {
  font-family: var(--primary-font);
  font-size: 30px;
  line-height: 2;
  font-weight: 300;
  color: #fff;
}
.wrapper {
  background-color: rgba(67, 60, 94, 0.6);
  padding: 45px 0;
}
.services {
  background-color: var(--secondary-color);
  background-image: url(/images/HomePageForest.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 140px 0;
  text-align: center;
}

.services-content {
  padding: 10px 20px;
}
.button-bar {
  display: flex;
  justify-content: center;
  background-image: url(/images/HomePageForest.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding: 40px 0;
}
.services-content h2 {
  color: var(--primary-color);
}

.content-container {
  padding: 75px 45px;
}

.about-bio h1 {
  color: var(--primary-color);
}
.about-bio h3 {
  font-family: var(--primary-font);
  font-weight: 200;
  color: var(--primary-color);
}
.about-photo {
  border-radius: 10px;
  max-width: 500px;
}
.about-facts {
  background-color: rgba(176, 167, 199, 0.3);
  padding: 25px 45px;
  border-radius: 10px;
}
.nav-links {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.nav-links a {
  margin: 20px;
}

.button-solid {
  background-color: rgba(176, 167, 199, 0.8);
  color: #fff;
  text-align: center;
  padding: 15px 30px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 27px;
  box-shadow: var(--box-shadow);
  transition: all 100ms ease-in-out;
}
.button-solid:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.button-outline {
  color: var(--accent-color);
  border-radius: 6px;
  border: 1px solid var(--secondary-color);
  padding: 15px 30px;
  font-size: 18px;
  font-family: var(--primary-font);
  transition: all 100ms ease-in-out;
}
.button-outline:hover {
  color: #fff;
  background-color: var(--secondary-color);
}

.description {
  padding: 40px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 16px;
  }
  nav {
    justify-content: center;
    padding-top: 10px;
  }
  nav li {
    margin: 10px;
    font-size: 12px;
  }
  .description {
    padding: 0;
    text-align: start;
  }
  .about-bio {
    padding: 10px 45px;
  }
  .about-img {
    margin: 10px 25px;
  }
  .h2-special {
    font-size: 16px;
    text-shadow: none;
    font-weight: 700;
  }
  .hero-content {
    text-align: center;
  }
  .hero-content a {
    display: inline-block;
    margin: 10px auto;
  }
  .button-outline,
  .button-solid {
    font-size: 15px;
  }
  .testimonial-img {
    width: 95%;
  }
  .illustration {
    width: 95%;
  }

  .bio-title {
    font-size: 18px;
  }
  .hero p {
    font-size: 15px;
  }
}
