:root {
  --primary-color: #433c5e;
  --secondary-color: #b0a7c7;
  --accent-color: #ffece3;
  --box-shadow: 2px 5px 15px 0 rgba(0, 0, 0, 0.2);
  --primary-font: "Montserrat", sans-serif;
  --accent-font: "Josefin Slab", serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--accent-font);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  color: #fff;
}

h2 {
  font-size: 64px;
}

p {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 30px;
}
.hero p {
  font-family: var(--primary-font);
  font-size: 36px;
  font-weight: bold;
  color: #272142;
}

.hero {
  background-color: var(--secondary-color);
  background-image: url(/images/HeaderImage.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 140px 0;
  text-align: center;
}

.hero-h2 {
  font-family: var(--primary-font);
  font-size: 24px;
  line-height: 2;
  color: #fff;
}
.about-section {
  padding: 140px 5px;
}
.about-section h1 {
  color: rgb(0, 0, 0);
}
.about-section h2 {
  font-size: 20px;
  font-family: var(--primary-font);
  font-weight: bold;
}
.about-wrapper {
  padding: 0 45px;
}
/*.hero-wrapper {
  background-color: rgba(67, 60, 94, 0.6);
  padding: 40px;
}*/
.nav-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.nav-links a {
  margin: 20px;
}
.button-solid {
  background-color: rgba(176, 167, 199, 0.4);
  color: #fff;
  text-align: center;
  padding: 15px 30px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  box-shadow: var(--box-shadow);
}
.button-outline {
  color: var(--primary-color);
  border-radius: 4px;
  border: 2px solid var(--primary-color);
  padding: 15px 30px;
  font-size: 18px;
  font-family: var(--primary-font);
  box-shadow: var(--box-shadow);
}
.button-outline:hover {
  color: #fff;
  background-color: var(--primary-color);
}
.description {
  padding: 60px;
}

@media (max-width: 1199px) {
  .description {
    padding: 0;
    text-align: center;
  }
  .about-bio {
    padding: 10px 45px;
  }
  .about-img {
    margin: 10px 25px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 16px;
  }
}
